name: Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    # run daily. The exact time does not matter; just try to avoid popular times like midnight
    - cron: '17 5 * * *'

defaults:
  run:
    shell: bash

jobs:
  spellcheck:
    name: Spell check with Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@v1.27.3

  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install pytest / Ruff
        run: |
          python -m pip install pytest ruff

      - name: Run Python linter
        run: |
          ruff format --check
          ruff check

  test:
    strategy:
      matrix:
        py_version:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
        lldb_version:
          - '11'
          - '15'
          - '16'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run the tests
        env:
          PY_VERSION: ${{ matrix.py_version }}
          LLDB_VERSION: ${{ matrix.lldb_version }}
        run: |
          make test
